.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.error {
  background-color: #e30613;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}
