.wrapper {
  padding: 1rem;
  background-color: #bbe5fa;
  color: #2d3c4a;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 760px) {
  .wrapper {
    padding: 2rem;
  }
}

input {
  all: unset;
  background: white;
  border-radius: 20px;
  padding: 0.5rem;
  margin-left: 0.5rem;
}
