.wrapper {
  border: 1px solid hsla(0, 0%, 60%, 0.5);
  box-shadow: 0 0 2px 1px hsl(0deg 0% 60% / 30%);
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countryInfoWrapper {
  display: flex;
}

.countryInfo {
  display: flex;
  flex-direction: column;
}

.currency {
  font-size: 1.5rem;
}

.rateNumber {
  font-size: 1.5rem;
}

.flag {
  font-weight: 300;
  line-height: 2;
  margin-right: 1rem;
  text-align: center;
  min-width: 70px;
  min-height: 47px;
  position: relative;
}

.flag::before {
  content: '';
  min-width: 70px;
  min-height: 47px;
  background-color: #f7f7f7;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
  text-align: center;
  border: solid #fff 4px;
}
